.Info{
    position:absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);

    background-color: rgb(198, 168, 247);
    padding: 10px;
    width: 1072px;
    height: 479px;
    z-index: 50;
    border-radius: 30px;
    transition: 200ms;
}
.Info.active {
transform: translate(-50%,-50%) scale(1);
}

.AddTask{
    position:absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);

    background-color: rgb(198, 168, 247);
    padding: 10px;
    width: 1072px;
    height: 479px;
    z-index: 50;
    border-radius: 30px;
    transition: 200ms;
}
.AddTask.active {
transform: translate(-50%,-50%) scale(1);
}

.Text{
    position: absolute;
    text-align:justify;
    width: 174px;
    height: 75px;
    left: 45%;
    top: 26px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
}
.Content{
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 56px;

    height: 400px;
    top: 12%;
    text-align: justify;

}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 200ms;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
    z-index: 49;
}
#overlay.active{
    opacity: 1;
    pointer-events: all;
}
#Info_Popup_Header_Close{
    background: transparent;
    border: 0;
    font-size: larger;
    text-align: right;
    left: 1266px;
}
.Info_Popup_Header_Quit{
    background: transparent;
    border: 0;
    font-size: larger;
    text-align: right;
}

.taskPreview {
    transform: scale(0);
}

.taskPreviewBlock  ul  div :hover .taskPreview{
    transform: scale(1);
}

.ShowDetialOfTask  {
    background-color: aquamarine;
    display: none;

}

.ShowDetialOfTask.active {
    display: block;
}
/*new*/
.AddTaskButton{
    
    width: 200px;
    height: 56px;
    float: right;
    top: 119px;
    border: 0ch;

    background: #7958ee;
    border-radius: 180px 0px 0px 180px;
    text-align: left ;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 56px;
    padding-left: 30px;
    
}
.CalanderButton{
    /*position: absolute;*/
    width: 200px;
    height: 56px;
    float: right;
    top: 170px;
    border: 0ch;

    background: #7958ee;
    border-radius: 180px 0px 0px 180px;
    text-align: left ;
    /*position: relative;*/
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 56px;
    padding-left: 30px;
    
}


    

.Infobutton{
    /*position: absolute;*/
    width: 200px;
    height: 56px;
    float: right;
    top: 119px;
    border: 0ch;

    background: #7958ee;
    border-radius: 180px 0px 0px 180px;
    text-align: left ;
    /*position: relative;*/
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 56px;
    padding-left: 30px;
}
main{
    width: 100%;
    height: 100%;
    margin:0%;
    display: grid;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 50%;
    grid-template-columns: 40% 40% 20%;
    

}
#I_U{
    grid-row: 1/4;
    height: 300px;
    background-color: #7958ee;
    padding: 10px;
    border: 10px solid white;
}
#I_NU{
    grid-column: 2;
    grid-row: 1/4;
    height: 300px;
    background-color: #7958ee;
    padding: 10px;
    border: 10px solid white;

}
#NI_U{
    grid-column: 2;
    grid-row: 5;
    height: 300px;
    background-color: #7958ee;
    padding: 10px;
    border: 10px solid white;
}
#NI_NU{
    grid-column: 1;
    grid-row: 5;
    height: 300px;
    background-color: #7958ee;
    padding: 10px;
    border: 10px solid white;
}
.whatisthis{
    grid-column: 3;
    grid-row: 1;
}
.addtask{
    grid-column: 3;
    grid-row: 2;
}
.calendar{
    grid-column: 3;
    grid-row: 3;
}


