.Info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 1072px;
    height: 479px;
    z-index: 50;
    border-radius: 30px;
    transition: 200ms;
    overflow: scroll;
}

.Info.active {
    transform: translate(-50%, -50%) scale(1);
}

.AddTask.active {
    transform: translate(-50%, -50%) scale(1);
}

.Text {
    position: absolute;
    text-align: justify;
    width: 174px;
    height: 75px;
    left: 45%;
    top: 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: #FF9F45;
}

.Content {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 56px;
    height: 400px;
    top: 12%;
    text-align: justify;
    color: #FF9F45;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 200ms;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 49;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#Info_Popup_Header_Close {
    background: transparent;
    border: 0;
    font-size: larger;
    text-align: right;
    left: 1266px;
}

.Info_Popup_Header_Quit {
    background: transparent;
    border: 0;
    font-size: larger;
    text-align: right;
}

.taskPreview {
    transform: scale(0);
}

.taskPreviewBlock ul div :hover .taskPreview {
    transform: scale(1);
}



.ShowDetialOfTask.active {
    display: block;
}


/*new*/

.AddTaskButton {
    width: 200px;
    height: 56px;
    float: right;
    top: 119px;
    border: 0ch;
    background: #F76E11;
    border-radius: 180px 0px 0px 180px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    line-height: 56px;
    padding-left: 30px;
}

.CalanderButton {
    /*position: absolute;*/
    width: 200px;
    height: 56px;
    float: right;
    top: 170px;
    border: 0ch;
    background: #F76E11;
    border-radius: 180px 0px 0px 180px;
    text-align: left;
    /*position: relative;*/
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    line-height: 56px;
    padding-left: 30px;
}

.Infobutton {
    /*position: absolute;*/
    width: 200px;
    height: 56px;
    float: right;
    top: 119px;
    border: 0ch;
    background: #F76E11;
    border-radius: 180px 0px 0px 180px;
    text-align: left;
    /*position: relative;*/
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    line-height: 56px;
    padding-left: 30px;
}

main {
    width: 100%;
    height: 100%;
    margin: 0%;
    display: grid;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 50% ;  
    /* new  */
    grid-template-columns: 40% 40% 20%;
   
}

#I_U {
    grid-row: 1/4;
    height: 300px;
    background-color: #7958ee;
    padding: 10px;
    border: 10px solid white;
}

#I_NU {
    grid-column: 2;
    grid-row: 1/4;
    height: 300px;
    background-color: #7958ee;
    padding: 10px;
    border: 10px solid white;
}

#NI_U {
    grid-column: 1;
    grid-row: 5;
    height: 300px;
    background-color: #7958ee;
    padding: 10px;
    border: 10px solid white;
    
}

#NI_NU {
    grid-column: 2;
    grid-row: 5;
    height: 300px;
    background-color: #7958ee;
    padding: 10px;
    border: 10px solid white;
}

.whatisthis {
    grid-column: 3;
    grid-row: 2;
}

.addtask {
    grid-column: 3;
    grid-row: 3;
}

.calendar {
    grid-column: 3;
    grid-row: 4;
}

.AddTask {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 1072px;
    height: 479px;
    z-index: 50;
    border-radius: 30px;
    transition: 200ms;
    overflow: scroll;
    border: solid 2px #FF9F45;
}

#title {
    font-size: 32px;
    border: 0px;
    border-bottom: solid 2px #FF9F45;
    background-color: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    line-height: 55px;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    color: #FF9F45;
    width: 60%;
    padding-top: 30px;
}

::placeholder {
    color: #FF9F45;
}

.r_1,
.r_2,
.r_3,
.r_4 {
    margin-left: 20%;
    color: #FF9F45;
    font-size: 13px;
    padding: 20px;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.AddTask p {
    margin: 0px;
    margin-left: 15%;
    color: #FF9F45;
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
}

#StartDate,
#StartTime {
    border-radius: 10px;
    border: solid 2px #FF9F45;
    color: #FF9F45;
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

#Link,
#Description {
    margin-left: 15%;
    font-size: 20px;
    width: 60%;
    color: #FF9F45;
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    padding: 10px;
}

#Description,
#Link {
    border: solid 2px #FF9F45;
    border-radius: 10px;
    margin-top: 10px;
}

.AddToTask,
.Reset {
    border: 0px;
    background-color: #ffbe81;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px
}

.Reset {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 40px;
    color: white;
}

.AddToTask {
    margin-left: 15%;
    color: white;
    color: white;
}

.closekro {
    background: transparent;
    border: 0;
    color: #FF9F45;
    font-size: 40px;
    z-index: 50;
    float: right;
}


/* responsiveness */

@media screen and (max-width: 1130px) {
    .Info,
    .AddTask {
        width: 370px;
    }
    .Text {
        left: 40%;
        position: absolute;
    }
}

.TaksList {
    overflow: scroll;
    height: 200px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: transparent;
}
/* new */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.AddToTask.active {
    background-color: #FF9F45;
}

.Reset.active {
    background-color: #FF9F45;
}
/*new*/
body{
    background-color: #FFE2C9;
}
#I_U,#NI_NU,#I_NU,#NI_U{
    margin: 10px;
    margin-left: 15px;
    border: 7px solid #FFBC80;
    border-radius: 15px;
    background: transparent;
}
#RandomQuotes{
    grid-row: 6;
    grid-column: 3;
    grid-row: 5;
    font-family: Rochester;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 62px;
    text-align: center;
    color: #FC4F4F;
    margin: 0;
}
h3{
    box-sizing: border-box;
    background-color: #FF9F45;
    border-radius: 15px; 
    margin: 0;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    height: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
    line-height: 28px;
    padding-top: 15px;
    color: #FFFFFF;
}
.whatisthis,.calender,.addtask{
    color: #F76E11;
}

ul li{
    background-color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
    line-height: 28px;
    padding: 0;
    border: solid 2px #FFE2C9;
    border-radius: 5px;
    height: 30px;
    display:grid;
    grid-template-columns: 95% 5%;
    grid-template-rows: 100%;
}
ul{
    padding-left: 0;
}
.MarkDone{
    grid-column: 2;
    background-image:url(rect312250.png) ;
    background-size: cover;
    float: right;
    background-color: greenyellow;
    color: white;
    border: 0;
    margin: 0;
    height: 100%;
    opacity: 1;
}
.TaskTitle{
    grid-column: 1;

    border: 0;
    opacity: 1;
    background-color: white;

}

.TaskTitle:hover{
    grid-column: 1;
    background-color: #d1d3d1;
    border: 0;
    opacity: 1;

}
.ShowDetialOfTask{
    display: none;
    padding-left: 10px;
}
.ShowDetialOfTask.active li{
    border: 0;
    font-size: 14px;
}
