.Info{
    position:fixed;
    top : 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    border:3px solid black;
    background-color: white; /* colour must be their*/
    transition: 200ms; /* this will make it zoom out and in smoothly */
    padding: 10px;
    width: 500px;
    z-index: 50; /*this is important to keep it above all*/
}
.Info.active {
transform: translate(-50%,-50%) scale(1);
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 200ms;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
    z-index: 49;
}
#overlay.active{
    opacity: 1;
    pointer-events: all;
}

